<?xml version="1.0"?>

<launch>
  <arg name="path_file" default="$(find pid_controller)/waypoints/circle.csv" />
  <arg name="velocity_kmph" default="1.62" />
  <arg name="kp" default="0.85" />
  <arg name="ki" default="0.02" />
  <arg name="kd" default="0.18" />
  <arg name="target_speed" default="0.45" />
  <arg name="lookahead_distance" default="0.9" />
  <arg name="max_steering_theta" default="0.523599" />
  <arg name="global_path_topic" default="/move_base/GlobalPlanner/plan" />

  <include file="$(find vehicle_sim)/launch/vehicle_sim_rviz.launch">
    <arg name="cmd_angular_is_steering" value="true" />
  </include>

  <include file="$(find pid_controller)/launch/waypoint_loader.launch">
    <arg name="path_file" value="$(arg path_file)" />
    <arg name="velocity_kmph" value="$(arg velocity_kmph)" />
  </include>

  <node pkg="pid_controller"  type="ebotController" name="ebotController" output = "screen">
    <param name="kp" value="$(arg kp)" />
    <param name="ki" value="$(arg ki)" />
    <param name="kd" value="$(arg kd)" />
    <param name="target_speed" value="$(arg target_speed)" />
    <param name="lookahead_distance" value="$(arg lookahead_distance)" />
    <param name="max_steering_theta" value="$(arg max_steering_theta)" />
    <param name="global_path_topic" value="$(arg global_path_topic)" />
  </node>


</launch>
