<?xml version="1.0"?>
<launch>
  <arg name="simulation" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="wheel_odom_frame_id" default="odom"/>

  <group unless="$(arg simulation)">
    <include file="$(find ebot_bringup)/launch/static_tf.launch"/>
    <include file="$(find turn_on_wheeltec_robot)/launch/turn_on_wheeltec_robot.launch">
    <arg name="odom_frame_id" value="$(arg wheel_odom_frame_id)"/>
    </include>
    <include file="$(find ebot_bringup)/launch/my_lidar.launch"/>
  </group>

  <group if="$(arg simulation)">
    <include file="$(find ebot_bringup)/launch/bringup_sim.launch">
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="gui" value="$(arg gui)"/>
    </include>
  </group>
</launch>
