<?xml version="1.0"?>
<launch>
  <arg name="resolution_profile" default="baseline" doc="baseline|fine|coarse"/>

  <arg name="profile_baseline" default="$(find ebot_bringup)/param/hector_mapping.yaml"/>
  <arg name="profile_fine" default="$(find ebot_bringup)/param/hector_mapping_res_fine.yaml"/>
  <arg name="profile_coarse" default="$(find ebot_bringup)/param/hector_mapping_res_coarse.yaml"/>

  <arg name="profile_file"
       default="$(eval profile_fine if resolution_profile == 'fine' else profile_coarse if resolution_profile == 'coarse' else profile_baseline)"/>
  <arg name="config_file" default="$(arg profile_file)"/>

  <node pkg="hector_mapping"
        type="hector_mapping"
        name="hector_mapping"
        output="screen">
    <rosparam command="load" file="$(arg config_file)"/>
  </node>
</launch>
