<?xml version="1.0"?>
<launch>
  <arg name="config_file" default="$(find ebot_bringup)/config/lidar/ydlidar_real.yaml"/>

  <node name="ydlidar_lidar_publisher"
        pkg="ydlidar_ros_driver"
        type="ydlidar_ros_driver_node"
        output="screen"
        respawn="false">
    <rosparam command="load" file="$(arg config_file)"/>
  </node>

  <!-- Real robot lidar mounting pose. -->
  <node pkg="tf"
        type="static_transform_publisher"
        name="base_footprint_to_laser_frame"
        args="0.0 0.0 0.20 0.0 0.0 0.0 /base_footprint /laser_frame 40" />
</launch>
