<?xml version="1.0"?>
<launch>
  <arg name="config_file" default="$(find ebot_bringup)/config/localization/rf2o.yaml"/>

  <node pkg="rf2o_laser_odometry"
        type="rf2o_laser_odometry_node"
        name="rf2o_laser_odometry"
        output="screen">
    <rosparam command="load" file="$(arg config_file)"/>
  </node>
</launch>
