<?xml version="1.0"?>
<launch>
  <node pkg="amcl"
        type="amcl"
        name="amcl"
        output="screen">
    <rosparam command="load" file="$(find ebot_bringup)/param/amcl_params.yaml"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_footprint"/>
    <param name="global_frame_id" value="map"/>
  </node>
</launch>
