<?xml version="1.0"?>
<launch>
  <arg name="map" default="nav.yaml"/>
  <arg name="amcl_profile" default="baseline"/>
  <arg name="global_planner" default="navfn/NavfnROS"/>
  <arg name="local_planner" default="base_local_planner/TrajectoryPlannerROS"/>
  <arg name="costmap_profile_file" default=""/>

  <include file="$(find ebot_bringup)/launch/test_amcl.launch">
    <arg name="map" value="$(arg map)"/>
    <arg name="amcl_profile" value="$(arg amcl_profile)"/>
  </include>

  <include file="$(find ebot_bringup)/launch/nav02_path.launch">
    <arg name="global_planner" value="$(arg global_planner)"/>
    <arg name="local_planner" value="$(arg local_planner)"/>
    <arg name="costmap_profile_file" value="$(arg costmap_profile_file)"/>
  </include>
</launch>
