<launch>
  <arg name="model" default="$(find vehicle_sim)/urdf/vehicle_top.urdf.xacro" />
  <arg name="rviz_config" default="$(find vehicle_sim)/rviz/vehicle_sim.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" required="false" />

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />

  <node pkg="vehicle_sim" type="vehicle_sim.py" name="vehicle_sim_node" output="screen">
    <param name="odom_frame" value="odom" />
    <param name="base_frame" value="base_footprint" />
    <param name="publish_rate" value="30.0" />
  </node>
</launch>
