<?xml version="1.0" ?>
<robot name="vehicle_base" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find vehicle_sim)/urdf/common_properties.xacro"/>

    <!-- 封装变量、常量 -->
    <xacro:property name="PI" value="3.1415927"/>
    
    <!-- ================= 车体 ================= -->
    <!-- 车体属性，形状：长方体，单位：米 -->
    <xacro:property name="base_link_length" value="0.23" /> 
    <xacro:property name="base_link_width" value="0.11" />
    <xacro:property name="base_link_high" value="0.05" />
    <!-- 离地间距 -->
    <xacro:property name="earth_space" value="0.015" />
    
    <!-- 车轮属性 -->
    <xacro:property name="mesh_scale" value="0.001" />
    <xacro:property name="mesh_scale_y" value="${mesh_scale/0.72}" /> <!-- 调整车轮宽度的缩放尺度：有0.18变为0.025 --> 
    <xacro:property name="wheel_radius" value="0.033" /><!-- 半径 -->
    <xacro:property name="wheel_length" value="0.025" /><!-- 宽度 --> 
    
    <!-- 轴距：前轴中心与后轴中心之间的距离 -->  
    <xacro:property name="wheel_base" value="0.14" />  


    <!-- 后轴中心与车体中心之间的距离 -->
    <xacro:property name="wheel_base_x" value="0.08" /> 
    
    <!-- base_link与base_footprint位置 -->  
    <xacro:property name="base_joint_x" value="${wheel_base_x}" />
    <xacro:property name="base_joint_z" value="${earth_space+base_link_high/2}" />
    
    <!-- 左后轮与base_link位置 -->   
    <xacro:property name="wheel_joint_x" value="${-wheel_base_x}" />
    <xacro:property name="wheel_joint_y" value="${base_link_width/2+wheel_length/2}" />
    <xacro:property name="wheel_joint_z" value="${wheel_radius-(base_link_high/2+earth_space)}" />
    
    <!-- 设置一个原点(机器人中心在地面上的投影点，机器人中心是坐标轴中心，不一定是质心) -->
    <link name="base_footprint">
      <!-- 可以留空 -->
    </link>
    

    <link name="base_link">
        <!-- 形状外观，可视化部分 -->
        <visual>
            <geometry>
               <!-- 长方体的长、宽、高 -->
               <box size="${base_link_length} ${base_link_width} ${base_link_high}"/>              
            </geometry>
            <!-- xyz：坐标 rpy：翻滚俯仰与偏航角度(单位：弧度，如：3.14=180度 1.57=90度) -->
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <!-- 颜色 -->
            <material name="light_black"/>         
        </visual>
    </link>
  
    <joint name="base_link2base_footprint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link" />
        <origin xyz="${base_joint_x} 0 ${base_joint_z}" rpy="0 0 0"/>
    </joint>

  
    <!-- ================= 后车轮 ================= -->   
    <!-- 后车轮宏实现 -->
    <xacro:macro name="add_rear_wheels" params="name is_left">
        <link name="rear_${name}_wheel">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://vehicle_sim/meshes/wheels/${name}_tire.stl" scale="${mesh_scale} ${mesh_scale_y} ${mesh_scale}"/>
                </geometry>
                <material name="dark"/>
            </visual>
        </link>

        <joint name="rear_${name}_wheel2base_link" type="continuous">
            <parent link="base_link" />
            <child link="rear_${name}_wheel" />
            <origin xyz="${wheel_joint_x} ${wheel_joint_y*is_left} ${wheel_joint_z}" />
            <axis xyz="0 1 0" />
        </joint>
      
    </xacro:macro>
    <xacro:add_rear_wheels name="left" is_left="1" />
    <xacro:add_rear_wheels name="right" is_left="-1" />
    
    <!-- ================= 前车轮 ================= -->    
    <!-- 前车轮宏实现 -->
    <xacro:macro name="add_front_wheels" params="name is_left">
        <link name="front_${name}_wheel">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://vehicle_sim/meshes/wheels/${name}_tire.stl" scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
                </geometry>
                <material name="dark"/>
            </visual>
        </link>

        <joint name="front_${name}_wheel2base_link" type="continuous">
            <parent link="base_link" />
            <child link="front_${name}_wheel" />
            <origin xyz="${wheel_joint_x+wheel_base} ${wheel_joint_y*is_left} ${wheel_joint_z}" />
            <axis xyz="0 1 0" />
        </joint>
      
    </xacro:macro>
    <xacro:add_front_wheels name="left" is_left="1" />
    <xacro:add_front_wheels name="right" is_left="-1" />
      
</robot>
