<?xml version="1.0" ?>
<robot name="car_top" xmlns:xacro="http://www.ros.org/wiki/xacro" >
    
    <!-- 封装常量 -->
    <xacro:property name="PI" value="3.1415" />
    
    <!-- 添加头文件，碰撞参数和惯性矩阵 -->
    <xacro:include filename="head/inertia_matrix.urdf.xacro" /> 
    
    <xacro:include filename="xacro01_car_base.urdf.xacro" />
    <xacro:include filename="xacro02_car_laser.urdf.xacro" />
    <!-- <xacro:include filename="xacro03_car_camera.urdf.xacro" /> --> 

    <xacro:include filename="gazebo_car/car_control.xacro" />
    <xacro:include filename="gazebo_car/car_laser.xacro" />
    <!-- <xacro:include filename="gazebo_car/car_camera.urdf.xacro" /> -->
</robot>
