<?xml version="1.0" ?>
<robot name="car_base" xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- 宏:颜色设置 -->
    <material name="yellow">
        <color rgba="0.8 0.3 0.1 0.5" />
    </material>

    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0" />
    </material>

    <!-- 封装底盘属性 -->
    <xacro:property name="base_footprint_radius" value="0.001" />
    <xacro:property name="base_link_radius" value="0.1" />
    <xacro:property name="base_link_length" value="0.08" />
    <xacro:property name="ground_clearance" value="0.015" />
    <xacro:property name="base_link_mass" value="0.5" />

    <!-- base_footprint -->
    <link name="base_footprint">
      <visual>
        <geometry>
          <sphere radius="${base_footprint_radius}" />
        </geometry>
      </visual>
    </link>

    <!-- 添加底盘 -->
    <link name="base_link">
        <visual>
            <geometry>
                <cylinder radius="${base_link_radius}" length="${base_link_length}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="yellow" />
        </visual>

        <collision>
            <geometry>
                <cylinder radius="${base_link_radius}" length="${base_link_length}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>

        <xacro:cylinder_inertial_matrix m="${base_link_mass}" r="${base_link_radius}" h="${base_link_length}" />
    </link>

    <gazebo reference="base_link">
        <material>Gazebo/Yellow</material>
    </gazebo>

    <joint name="base_link2base_footprint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz="0 0 ${ground_clearance+base_link_length/2}" rpy ="0 0 0" />
        <axis xyz="0 0 0" />
    </joint>

    <!-- 驱动轮 -->
    <!-- 封装驱动轮属性 -->
    <xacro:property name="add_wheel_radius" value="0.0325" />
    <xacro:property name="add_wheel_length" value="0.015" />
    <xacro:property name="add_wheel_mass" value="0.05" />

    <!-- 宏：驱动轮设置 -->
    <xacro:macro name="add_wheel_func" params="wheel_name flag" >
        <link name="${wheel_name}_wheel">
            <visual>
                <geometry>
                    <cylinder radius="${add_wheel_radius}" length="${add_wheel_length}" />
                </geometry>
                <origin xyz="0 0 0" rpy="${PI/2} 0 0" />
                <material name="black" />
            </visual>

            <collision>
                 <geometry>
                    <cylinder radius="${add_wheel_radius}" length="${add_wheel_length}" />
                </geometry>
                <origin xyz="0 0 0" rpy="${PI/2} 0 0" />
            </collision>

            <xacro:cylinder_inertial_matrix m="${add_wheel_mass}" r="${add_wheel_radius}" h="${add_wheel_length}" />
        </link>

        <joint name="${wheel_name}_wheel2base_link" type="continuous">
            <parent link="base_link" />
            <child link="${wheel_name}_wheel" />
            <origin xyz="0 ${base_link_radius*flag} ${add_wheel_radius-(ground_clearance+base_link_length/2)}" />
            <axis xyz="0 1 0" />
        </joint>

        <gazebo reference="${wheel_name}_wheel">
            <material>Gazebo/Red</material>
        </gazebo>

    </xacro:macro>
    
     <!-- 添加驱动轮 -->
    <xacro:add_wheel_func wheel_name="left" flag="1" />
    <xacro:add_wheel_func wheel_name="right" flag="-1" />
   
    <!-- 封装支撑轮属性 -->
    <xacro:property name="support_wheel_radius" value="${ground_clearance/2}" />
    <xacro:property name="support_wheel_mass" value= "0.01" />

    <!-- 宏：支撑轮设置 -->
    <xacro:macro name="support_wheel_func" params="name flag" >
        <link name="${name}_wheel">
            <visual>
                <geometry>
                    <sphere radius="${support_wheel_radius}" />
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <material name="black" />
            </visual>

            <collision>
                 <geometry>
                    <sphere radius="${support_wheel_radius}" />
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0" />
            </collision>

            <xacro:sphere_inertial_matrix m="${support_wheel_mass}" r="${support_wheel_radius}"/>
        </link>

        <gazebo reference="${name}_wheel">
            <material>Gazebo/Black</material>
        </gazebo>

        <joint name="${name}_wheel2base_link" type="continuous">
            <parent link="base_link" />
            <child link="${name}_wheel" />
            <origin xyz="${flag*(base_link_radius-support_wheel_radius)} 0 ${support_wheel_radius-(ground_clearance+base_link_length/2)}" />
            <axis xyz="1 1 1" />
        </joint>
    </xacro:macro>

    <!-- 添加支撑轮 -->
    <xacro:support_wheel_func name="front" flag="1" />
    <xacro:support_wheel_func name="back" flag="-1" /> 

</robot>
